{% extends 'base.html' %}

{% block title %}
    RunMake|登録メール再送
{% endblock %}

{% block content %}
<main class="container px-4	pt-6">
  <div class="content">
    <h1 class="title is-4 is-size-5-touch">
      <span class="icon has-text-success">
        <i class="fa-regular fa-circle-check"></i>
      </span>
      アカウント登録が完了しました
    </h1>
    <p>登録いただきありがとうございます</p>
    <p>ログイン可能な状態となりましたので、ご登録いただいた情報でログインしてサービスをご利用ください</p>
    <p>登録時に入力いただきましたメールアドレス宛てに「登録完了メール」をお送り致しますのでご確認ください</p>
  </div>
</main>
{% endblock %}
