{% extends 'base.html' %}

{% block title %}
    RunMake|登録失敗
{% endblock %}

{% block content %}
<main class="container px-4	pt-6">
  <div class="content">
    <h1 class="title is-4">
      <span class="icon has-text-danger">
        <i class="fas fa-ban"></i>
      </span>
      メールの再送に失敗しました
    </h1>
    <p>登録メールの再送に失敗しました</p>
    <p>お手数ですが以下のリンクより登録メールを再送してください</p>
    <p>
      解決しない場合はお手数をおかけしますが問合わせ先(
        <a class="has-text-link" href="mailto:{{support_email_address_link}}">
          {{ support_email_address }}
        </a>
      )までご連絡ください
    </p>
  </div>  
</main>
{% endblock %}